body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    135deg,
    rgba(17, 76, 226, 0.848),
    rgb(128, 55, 124)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: hsl(0, 0%, 77%);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  color: red;
  margin: 10px 0;
}

.register-link,
.login-link {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover,
.login-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
